<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashBoard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">

</head>
<header class="header"><a href="/mcb/">MCB</a></header>


<body>
  <nav> 
    <ul class="flex-container column">
      <li>
      <a href="/budget/">Budget Overview</a>
      </li>
      <li>
      <a href="/budget/new/">Add new transaction</a>
      </li>
      <li>
      <a href="/budget/tag/">Add new tag</a>
      </li>
      <li>
      <a href="/user/">Budget properties</a>
      </li>
    </ul>
  </nav>
  <%=yield %>
</body>
</html>