<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashBoard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav> 
    <ul>
      <li>
        <a href="/MCB/"> eh, frontpage </a>
      </li>
      <li>
      <a href="/budget/new/">Add new transaction</a>
      </li>
    </ul>
  </nav>
  <%=yield %>
</body>
</html>