

<h1>Add new transaction</h1>
<form action="/budget/new/" method="post">

  <label>Merchant:
    <input type="text" name="merchant">
  </label>
<br>
<p></p>
<br>
  <label>Transaction type:


    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.tag_name %></option>
      <%end %>
    </select>
    </label>

    <br>
    <p></p>
    <br>

    <label>Value:
      <input type="text" name="value">
    </label>
    <br>
    <p></p>
<br>


    <label>Date (Format: YYYY-MM-DD) 
    <input type="text" name = "datestore">
    </label>

    <br>
    <p></p>
    <br>


    <input type="submit" value="SUBMIT">
  </form>
